.t1{
    -fx-background-color: #EEEEEE;
}
.t2{
    -fx-background-color: #FFFFFF;
}
.c1{
    -fx-background-color: brown;
    -fx-text-fill: #FFFFFF;
}
.scene{
    -fx-background-image: url("test4.jpg");
    -fx-background-size: 100% 100%;
}
.scene_2{
    -fx-background-image: url("test.jpg");
    -fx-background-size: 100% 100%;
}
.btn{
    -fx-background-color: teal;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
}
.btn_red{
    -fx-background-color: #C00000 ;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
}
.btn_red:pressed{
    -fx-background-color: purple;
}
.btn_red:hover{
    -fx-cursor: hand;
}

.btn:pressed{
    -fx-background-color: purple;
}
.btn:hover{
    -fx-cursor: hand;
}

.txt{
-fx-width: 20%;
  -fx-padding: 12px 20px;
  -fx-margin: 8px 0;
  -fx-display: inline-block;
  -fx-border-radius: 4px;
}